<!DOCTYPE html>
<html>
<head>
	<title>About VVCE</title>
	<style>
		body{
			background-color: grey;
			text-decoration-style: 
			margin-top:500px;
			margin-right: 250px;
			margin-left: 250px;
			text-align: center;
			text-decoration-color: white;
			

		}
		p{
			color:black;
			
			font-family: "Monospace"; 
		}


	</style>
</head>
<body>
<p><strong><h1>VVCE – A Centre of Excellence in Technical & Management Education</h1></strong></p>
<p><h2>Vidyavardhaka Sangha (VVS) stands as a synonym for quality education in the heritage city of Mysuru. VVS was established in 1949 by great visionaries namely Late Sahukar Channaiah and Late. K. Puttaswamy (Former Minister of Karnataka) to impart quality education to all sections of the society. There are ten educational institutions starting from nursery to engineering college under the aegis of VVS. At present, Sangha is under the able guidance and leadership of Sri Gundappa Gowda, President, Sri Shivalingappa B, Vice President, Sri P. Vishwanath, Secretary and Sri S N Lakshminarayana, Treasurer.</h2></p>

<p><h2>Vidyavardhaka College of Engineering is one of the prestigious engineering college in Karnataka. Established in 1997, VVCE has grown in leaps and bounds since inception. VVCE is affiliated to Visvesvaraya Technological University (VTU), Belagavi, approved by AICTE, New Delhi and recognized by Govt. of Karnataka. VVCE functions through its Board of Governors constituted as per AICTE guidelines. The college is under the able leadership of Dr. B. Sadashive Gowda as Principal, who has rich experience in industry and education field both in India and abroad. Five UG programs are accredited by National Board of Accreditation, New Delhi. The college has excellent infrastructure coupled with qualified and passionate faculty team to provide a perfect learning ambience</h2></p>

<p><h2>The college has taken stringent measures as per AICTE norms to prevent any incidents of ragging.</h2></p>

</body>
</html>
