<!DOCTYPE html>
<html>
<head>
	<title>Event list</title>
</head>
<body>
	<h1>Event list</h1>
	<ol>
	{% for event in eventlist %}
		<a href ="{{event.id}}"><li> {{event.title}} </li></a>
	{% endfor %}
	</ol>
	<form enctype="multipart/form-data"  method="POST" action="create_event/">
         <input type="text" name="title" placeholder="title">
          <input type="text" name="date" placeholder="date">
          <input type="text" name="description" placeholder="description">
          <input type="text" name="organizer" placeholder="organizer">
          <input type="text" name="department" placeholder="department">
          <label for="myfile" style="color: black;">Upload your file</label>
   		 <input type="file" name="myfile1" style="margin-bottom:20px" id="myfile" class="form-control" >
          <button >Create event</button>

  </form>


</body>
</html>